<div class="btn-group" role="group">
  <a href="/date/<%= @date_obj - 1%>" type="button" class="btn btn-primary">Previous Day</a>
  <a href="/now" type="button" class="btn btn-outline-primary">Today</a>
  <a href="/date/<%= @date_obj + 1 %>" type="button" class="btn btn-primary">Next Day</a>
</div>
